html * {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height:     100%;
}

body {
    background:  rgb(225, 225, 225);
    color:       #4e4e4e;
    font-family: Arial;
    margin:      0;
}

.page {
    background:     rgb(225, 225, 225);
    color:          #4e4e4e;
    font-family:    Arial;
    margin:         0;
    display:        flex;
    flex-direction: column;
    height:         100%;
}

.navbar {
    height:          70px;
    background:      #424242;
    flex-shrink:     0;
    flex-grow:       0;
    box-shadow:      0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    z-index:         3;
    position:        fixed;
    top:             0;
    left:            0;
    right:           0;
    width:           100%;
    display:         flex;
    align-items:     center;
    justify-content: flex-start;
    flex-direction:  row;
}

.navbar--brand {
    font-size: 24px;
    color:     #fbc11b;
    padding:   16px;
}

.navbar--search {
    padding:       5px 10px;
    display:       inline-block;
    border:        none;
    border-radius: 4px;
    font-size:     18px;
}

.side-bar {
    z-index:      2;
    right:        0;
    bottom:       0;
    box-shadow:   -3px 0px 9px -2px rgba(0, 0, 0, 0.75);
    width:        360px;
    position:     fixed;
    top:          70px;
    transition:   margin-right ease 300ms;
    margin-right: -380px;
}

.side-bar__shown {
    margin-right: 0;
}

treecontrol ul {
    overflow: auto;
}

.graph-page {
    position:    relative;
    padding:     0;
    margin:      0;
    background:  rgb(225, 225, 225);
    padding-top: 20px;
    flex-shrink: 0;
    flex-grow:   1;
    margin-top:  70px;
}

.graph-page > li {
    list-style: none;
}

.graph-page-graph {
    /*margin-right: -360px;*/
    display: flex;
}

.graph-page-graph--graph {
    flex-shrink: 0;
    flex-grow:   0;
}

treecontrol {
    font-family: Arial;
}

treecontrol li .tree-label {
    height:        30px;
    border:        none;
    margin:        10px;
    width:         200px;
    border-radius: 3px;
    background:    white;
    box-shadow:    0 1px 5px 0 rgba(0, 0, 0, 0.75);
    z-index:       2;
    flex-shrink:   0;
    display:       flex;
}

treecontrol li {
    display:      flex;
    flex-wrap:    nowrap;
    padding-left: 10px;
}

treecontrol li.tree-leaf:before, treecontrol li.tree-expanded:before {
    content:       '';
    display:       block;
    position:      absolute;
    border:        2px solid #c5c5c5;
    top:           0px;
    width:         13px;
    height:        24px;
    left:          5px;
    border-width:  0 0 2px 2px;
    border-radius: 0 0 0 8px;
}

treecontrol li.tree-leaf:first-child:before, treecontrol li.tree-expanded:first-child:before {
    top:           9px;
    width:         15px;
    height:        15px;
    border-width:  0 0 2px 0px;
    border-radius: 0 0 0 0;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    display: none;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    display: none;
}

treecontrol.tree-classic li .tree-selected {
    background:  #ffdf80;
    font-weight: normal;
}
